.dub
docs.json
__dummy.html
docs/
/cmdline
cmdline.so
cmdline.dylib
cmdline.dll
cmdline.a
cmdline.lib
cmdline-test-*
*.exe
*.pdb
*.o
*.obj
*.lst

build
.vscode
.vs
bin/*

/examples/bin/*
!/examples/bin/*.json

/tests

